<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<body>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'logout' %}">logout</a>
    {% for project in projects %}
    {{project}} - {{project.owner}}
    <a href="{% url 'project' project.id %}">View</a>
    <a href="{% url 'edit-project' project.id %}">Edit</a>
    <a href="{% url 'delete-project' project.id %}">Delete</a>
    {% endfor %}
</body>

</html>